*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    gap: 1rem;
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(32, 32, 32)
}

.add-item-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
form{
    display: flex;
    gap: 1rem;
}
input{
    flex: 1;
    padding: 10px;
    border: 2px solid rgb(63, 80, 231);
    border-radius: 6px;
    font-size: 16px;
}

input:focus{
    outline: none;
    border-color: #00ff22;
}

button{
    padding: 10px 20px;
    background-color: rgb(63, 80, 231);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: rgba(63, 80, 231, 0.582);
    color: white;
}

th, td{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #6d6c6c5e;
}

tr:nth-child(even){
    background-color: #b159598f;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    color: green;
    transform: scale(1.2);
    cursor: pointer;
}